<form action="<%= action == 'create' ? cats_url : cat_url %>" method="POST">
    <% if action == 'update' %>
        <input type="hidden" name="_method" value="patch">
    <% end %>
    <label for="name"> Enter cat's name: </label>
    <input type="text" name="cat[name]" value="<%= @cat.name if action == 'update' %>">
    <br>

    <label for="sex">Male:</label>
    <input type="radio" name="cat[sex]", value="<%= 'checked' if action == 'update' %>">
    <label for="sex">Female:</label>
    <input type="radio" name="cat[sex]", value="<%= 'checked' if action == 'update' %>">
    <br>

    <label for="color">Select your cat's color</label>
    
    <select name="cat[color]">
    
    <option value="<%= @cat.color if action == 'update' %>">--select a color--</option> 

    <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>"><%= color.capitalize %></option>
    <% end %>
    </select>
    <br>

    <label for="birth_date"> Select cat's birthday: </label>
    <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date if action == 'update' %>">
    <br>

    <label for="description"> Memories of your cat: </label>
    <input type="textarea" name="cat[description]" value="<%= @cat.description if action == 'update' %>">
    <br>

    <input type="submit" value="Submit">

</form>